.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/library/build/
/build
/captures
.idea/misc.xml

*.json

*.iml

library/build/outputs/aar/library-release.aar

library/build/intermediates/incremental/packageReleaseResources/merger.xml

library/build/intermediates/incremental/mergeReleaseResources/merger.xml

library/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml

library/build/intermediates/incremental/mergeReleaseAssets/merger.xml

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderTypes/BaseSliderView$3.class

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderTypes/BaseSliderView.class

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderLayout$5.class

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderLayout.class

library/build/intermediates/bundles/release/classes.jar

*.json

library/build/intermediates/blame/res/release/multi/values-my-rMM.json
*.json
library/build/intermediates/blame/res/release/single/anim.json
*.json
library/build/intermediates/blame/res/release/single/drawable-xhdpi-v4.json
*.json
library/build/intermediates/blame/res/release/single/drawable-xxhdpi-v4.json
*.json
library/build/intermediates/bundles/release/classes.jar
*.aar
*.json
*.json
library/build/intermediates/blame/res/release/single/drawable-mdpi-v4.json
*.json
*.json
library/build/intermediates/blame/res/release/multi/values-af.json
*.json
library/build/intermediates/blame/res/release/multi/values-bn-rBD.json
*.json
library/build/intermediates/blame/res/release/multi/values-pa-rIN.json
*.json
*.class
library/build/intermediates/classes/release/com/daimajia/slider/library/Tricks/ViewPagerEx.class
*.class
library/build/outputs/aar/library-release.aar
*.json
library/build/intermediates/blame/res/release/single/drawable-mdpi-v4.json
*.json
library/build/intermediates/blame/res/release/multi/values-ko.json
*.json
library/build/intermediates/blame/res/release/multi/values-ky-rKG.json
library/build/intermediates/blame/res/release/multi/values-lt.json
*.json
*.json
library/build/intermediates/blame/res/release/multi/values-port.json
*.json
library/build/intermediates/blame/res/release/multi/values-sr.json
library/build/intermediates/blame/res/release/multi/values-te-rIN.json
*.json
*.json
library/build/intermediates/blame/res/release/multi/values-ur-rPK.json
*.json
library/build/intermediates/blame/res/release/single/drawable-ldrtl-xhdpi-v17.json
*.json
library/build/intermediates/blame/res/release/single/drawable-xhdpi-v4.json
*.json
*.jar
*.iml

*.json

app/app.iml

library/library.iml
*.json
*.json
*.json
*.aar
*.json

*.iml

*.json

*.json

app/app.iml

*.json
