.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/misc.xml

*.json

*.iml

library/build/outputs/aar/library-release.aar

library/build/intermediates/incremental/packageReleaseResources/merger.xml

library/build/intermediates/incremental/mergeReleaseResources/merger.xml

library/build/intermediates/incremental/mergeReleaseJniLibFolders/merger.xml

library/build/intermediates/incremental/mergeReleaseAssets/merger.xml

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderTypes/BaseSliderView$3.class

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderTypes/BaseSliderView.class

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderLayout$5.class

library/build/intermediates/classes/release/com/daimajia/slider/library/SliderLayout.class

library/build/intermediates/bundles/release/classes.jar

*.json

library/build/intermediates/blame/res/release/multi/values-my-rMM.json
*.json
library/build/intermediates/blame/res/release/single/anim.json
*.json
library/build/intermediates/blame/res/release/single/drawable-xhdpi-v4.json
*.json
library/build/intermediates/blame/res/release/single/drawable-xxhdpi-v4.json
*.json
library/build/intermediates/bundles/release/classes.jar
*.aar
*.json
*.json
library/build/intermediates/blame/res/release/single/drawable-mdpi-v4.json
*.json
